* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #000 url(https://wallpaperstock.net/wallpapers/thumbs1/30111wide.jpg);
    /* El cover se usa para que el fondo al ser una imagen abarque el 100% y el fixed para que quede fijo*/
    background-size:cover;
    background-attachment: fixed;
}

.stand {
    margin: auto ;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    /* Con flex wrap wrap se especifica que aquello que no quepa se ponga debajo. como el header tiene el 100% lo demas estaria debajo */
    flex-wrap: wrap;
}

/* El header es el elemento padre */
header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 15%;
}

header .logo img {
    width: 100%;
}

header .menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

header .menu a:hover {
    text-decoration: underline;
}

.main {
    background: #fff;
    padding: 20px;
    width: 70%;
}

.main article .thumb{
    margin-bottom: 20px;
}

.main article .thumb img {
    width: 100%;
    vertical-align: top;
}

.main article h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
}

.main article p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
}

aside {
    width: 30%;
    background: #2d2d46;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

aside .ad {
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding: 50px 0;
    margin-bottom: 20px;
    background: #4f5d79;
}

footer {
    margin: 20px 0;
    background: rgba(255 255 255/.2);
    padding: 20px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

footer .social a {
    color: #fff;
    text-decoration: underline;
    margin-left: 10px;
}

footer .social a:hover {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .main {
        width: 100%;
    }

    aside {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    aside .ad {
        width: 30%;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        padding-bottom: 20px;
        justify-content: center;
    }

    header .menu {
        width: 100%;
        background: rgba(255 255 255 /.2);
        text-align: center;
        padding: 10px;
    }

    header .logo {
        width: 30%;
        margin-bottom: 5px;
    }

    footer {
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
    }

    footer .author {
        order: 2;
        width: 100%;
    }

    footer .social {
        order: 1;
        width: 100%;
    }

    footer .social a {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    aside {
        display: none;
    }
}